.App {
  text-align: center;
}

img{
  height: 100px;
  width: 100px;
}

.maincontainer {
  max-width: 100%;
  margin: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


select, input[type="text"] {
  margin: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttontable {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
}

.buttontable:hover {
  background-color: #555;
}

.mainStatistics {
  max-width: 800px;
  margin:  0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.Statisticsh1 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

label, select {
  display: block;
  margin: 20px 0;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statistic-box {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
  flex: 1;
}

.statistic-box:hover {
  background-color: #f2f2f2;
}

.statisticsh2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.chart-title {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.chart-container{
  max-width: 100%;
  margin:  30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}